---
import { getCollection } from "astro:content";
import PostLink from '../../components/PostLink.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';

const allPosts = await getCollection("posts");
---
<BaseLayout title="Blog">
  <h1>Welcome to my personal blog</h1>

  <ul>
    {allPosts.map((post) => <PostLink title={post.data.title} url={`/blog/posts/${post.slug}`} />)}
  </ul>
</BaseLayout>