---
import { getCollection } from "astro:content";
import PostLink from '../../components/PostLink.astro';
import BlogLayout from '../../layouts/BlogLayout.astro';
import '../../styles/global.css';

const allPosts = await getCollection("posts");
---
<BlogLayout title="Blog">
  <h1>Welcome to my personal blog</h1>

  <ul>
    {allPosts.map((post) => <PostLink title={post.data.title} url={post.slug} />)}
  </ul>
</BlogLayout>