---
const facts = [
  `I spoke with a movie director James Gunn face-to-face`,
  `I learned fluent English by playing video games`,
  `I got my PS One in exchange for helping a friend with his computer`,
  `I say "please" and "thank you" to AI`,
  `I'm left-handed, but still use my mouse with right hand`,
  `My first programming language is Pascal`
];

const getRandomInt = (min, max) => {
  min = Math.ceil(min);
  max = Math.floor(max);
  return Math.floor(Math.random() * (max - min + 1)) + min;
}
const randomNumber = getRandomInt(0, facts.length - 1);
---

<section id="about">
  <div>
    <h2>Quick introduction&nbsp;👋</h2>
    <p class="mb-1">I&apos;m a versatile developer and a natural problem-solver.</p>
    <p class="mb-1">I have both a <strong>tech degree</strong> (college) and 10 years of experience working as a journalist — which makes me <strong>a perfect conduit between people and code</strong>. Basically, I'm a human API.</p>
    <p>My goal is to make web a better-looking, more performant and accessible place for everyone.</p>
  </div>
  <div class="content-box">
    <h3>Random personal fact</h3>
    <p>{facts[randomNumber]}</p>
  </div>
</section>

<style>
  section {
    display: grid;
    gap: 4rem;
  }

  .content-box {
    background-color: #68bddc;
    height: fit-content;
  }

  @media screen and (min-width: 768px) {
    section {
      grid-template-columns: 3fr 300px;
    }
  }
</style>