<section id="contacts">
  <h2 style="text-align: center;">Let&apos;s talk business&nbsp;💬</h2>
  <div>
    <a class="email" href="mailto:stanislav.pogorskii@gmail.com?subject=Let's%20work%20together">Email</a>
    <a class="linkedin" href="https://www.linkedin.com/in/pogorskii/">LinkedIn</a>
    <a class="telegram" href="http://t.me/staspogorsky">Telegram</a>
    <a class="github" href="https://github.com/pogorskii">GitHub</a>
  </div>
</section>

<style>
  div {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
  }

  a:link,
  a:visited {
    width: 100%;
    display: inline-block;
    color: var(--color);
    text-decoration: none;
    font-size: 2.2rem;
    font-weight: 600;
    text-align: center;
    padding: 2rem 4rem;
    border-radius: .5rem;
    transition: background-color .2s ease-out;
  }

  #contacts {
    padding-bottom: 8rem;
  }

  .email:link,
  .email:visited {
    background-color: #1E91D6;
  }

  .email:hover,
  .email:active {
    background-color: #50aee6;
  }

  .linkedin:link,
  .linkedin:visited {
    background-color: #8FC93A;
  }

  .linkedin:hover,
  .linkedin:active {
    background-color: #abd66b;
  }

  .telegram:link,
  .telegram:visited {
    background-color: #E4CC37;
  }

  .telegram:hover,
  .telegram:active {
    background-color: #ead869;
  }

  .github:link,
  .github:visited {
    background-color: #E18335;
  }

  .github:hover,
  .github:active {
    background-color: #e8a267;
  }

  @media screen and (min-width: 636px) {
    a:link,
    a:visited {
      width: auto;
    }
  }
</style>