<footer class="container footer">
  <p>&copy; Stanislav Pogorskii, 2024</p>
</footer>

<style>
	.footer {
		border-top: 2px var(--color--dark) solid;
		padding-top: 4rem;
		padding-bottom: 4rem;
		text-align: center;
	}

	.footer p {
		font-size: 2rem;
		font-weight: 600;
		letter-spacing: 0.1em;
	}
</style>