<a href="/">SP</a>

<style>
  a:link, a:visited {
    text-decoration: none;
    color: inherit;
    font-size: 4rem;
    font-weight: 800;
  }

  a:hover, a:active {
    color: red;
  }

  :global(.expanded) a {
    display: none;
  }
</style>