<nav class="nav-links">
  <a href="/">Home</a>
  <a href="/blog/">Blog</a>
  <a href="/blog/tags/">Tags</a>
  <a href="/about/">About</a>
</nav>

<style>
  nav {
    height: fit-content;
    overflow: hidden;
    border-radius: 500px;
    background-color: #ff9776;
  }

  .nav-links {
    width: 100%;
    background-color: #ff9776;
    display: none;
  }

  .nav-links a {
    display: block;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  .nav-links a:hover,
  .nav-links a:focus {
    background-color: #ff9776;
  }

  .nav-links a:link,
  .nav-links a:visited {
    color: var(--color);
  }

  @media screen and (min-width: 636px) {
    .nav-links {
      display: block;
      position: static;
      width: auto;
      /* background: none; */
    }

    .nav-links a {
      display: inline-block;
      padding: 10px 20px;
    }
  }

  .dark .nav-links a {
    color: #fff;
  }
</style>