<nav class="nav-links">
  <a href="#about">About</a>
  <a href="#portfolio">Portfolio</a>
  <a href="#stack">Stack</a>
  <a href="#contacts">Contacts</a>
</nav>

<style>
  nav {
    display: none;
    height: fit-content;
  }

  a {
    position: relative;
    display: block;
    text-align: start;
    padding: 1rem;
    text-decoration: none;
    font-size: 3.2rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  a:link,
  a:visited {
    color: inherit;
  }

  a:hover,
  a:active {
    color: red;
  }

  a::after {
    position: absolute;
    bottom: .1rem;
    left: 1rem;
    content: "";
    width: 0%;
    height: 2px;
    border-radius: 50px;
    background-color: red;
    z-index: 50;
    transition: width .2s ease-in;
  }

  a:hover::after {
    width: calc(100% - 2rem);
  }

  :global(.expanded) .nav-links {
    display: unset;
  }

  @media screen and (min-width: 636px) {
    nav {
      display: block;
      position: static;
      width: auto;
      /* background: none; */
    }

    a {
      font-size: 1.2rem;
      text-align: center;
      display: inline-block;
      padding: .5rem 1rem;
    }
  }

  .dark a {
    color: #fff;
  }
</style>