---
import { ViewTransitions } from "astro:transitions";
import Hamburger from "../components/Hamburger.astro";
import Navigation from "../components/Navigation.astro";
import ThemeSwitcher from "../components/ThemeSwitcher.astro";
import SocialLink from "../components/SocialLink.astro";
import '../styles/global.css';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title} | Stanislav Pogorskii</title>
		<ViewTransitions />
	</head>
	<body>
		<header>
			<Navigation />
			<ThemeSwitcher />
			<Hamburger />
		</header>
		<main>
			<slot />
		</main>
		<footer>
			<SocialLink platform="twitter" username="astrodotbuild" />
			<SocialLink platform="github" username="withastro" />
			<SocialLink platform="youtube" username="astrodotbuild" />
		</footer>
	</body>
</html>

<script>
	document.addEventListener('astro:page-load', () => {
		document.querySelector('.hamburger')?.addEventListener('click', () => {
			document.querySelector('.nav-links')?.classList.toggle('expanded');
		});
	});
</script>
